@model IEnumerable<ProductViewVM>


@{
    ViewBag.PageTitle = "Product Managment";
    ViewBag.CardTitle = "View Products";

}


<div>
    <a href="/Admin/Product/create" class="btn btn-success">Create</a>
</div>
<table id="Products" class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Image</td>
           @*  <td>Category</td> *@
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Discription</td>
                <td>@item.Price</td>
                <td><img src="/Images/Products/@item.Img" class="img-fluid"/></td>
          @*       <td>@item.Category.Name</td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-warning">Edit</a>
                    <a onclick="deleteItem(@item.Id)" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
                    <script>
                        var tab;
        $(document).ready(function () {
                            
                          tab = new DataTable('#Products');
                        });

        function deleteItem(id) {
            Swal.fire({
                title: "Do you want to save the changes?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Save",
                denyButtonText: `Don't save`
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    $.ajax({
                        url: `/Admin/Product/Delete/${id}`,
                        method: 'post',
                        success: function () {
                            Swal.fire("Saved!", "", "success");
                            tab.ajax.reload();
                        },
                        error: function () {
                            Swal.fire("Changes are not saved", "", "danger");
                        }
                    })


                } else if (result.isDenied) {
                    Swal.fire("Changes are not saved", "", "info");
                }
            });
        }
            
                    </script>
                  
                }